{{ define "main" }}
  {{- $title := replaceRE "[-_]+" " " .Title | title }}
  <article class="markdown page">
    <h1>{{ $title }}</h1>
    {{ .Content }}
    <div class="multi-column">
        {{- $current := "" }}
        {{- /* === LOOP TERMS ALPHABETICAL === */}}
        {{- range .Data.Terms.Alphabetical }}
          {{- $first := upper (substr .Term 0 1) }}
    
          {{- /* --- Jika huruf baru --- */}}
          {{- if ne $first $current }}
            {{- /* Tutup blok sebelumnya jika ada --- */}}
            {{- if ne $current "" }}
              </ul>
            </div>
            {{- end }}
    
            {{- /* Buka blok baru --- */}}
            <div class="multi-column__item taxonomy">
              <h2 class="taxonomy__label" style="margin: 0;">{{ $first }}</h2>
              <ul class="taxonomy__list">
            {{- $current = $first }}
          {{- end }}
    
          {{- /* --- Isi item --- */}}
          <li class="taxonomy__item">
            <a href="{{ .Page.RelPermalink }}" class="taxonomy__link">
              {{- $term := replaceRE "[-_]+" " " .Term | title }}
              <span>{{ $term }}</span>
              <span>{{ .Count }}</span>
            </a>
          </li>
        {{- end }}
        {{- /* === END LOOP === */}}
    
        {{- /* Tutup blok terakhir --- */}}
        </ul>
      </div>
    </div>
  </article>
{{ end }}
