@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

html {
  padding: 1em;
}

.site {
  background-color: var(--bg-base);
  display: grid;
  grid-template-columns: 14em minmax(0, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header header header"
    "sidebar page page"
    "footer footer footer";
  max-width: 110ch;
  margin: 0 auto;
  box-shadow: var(--shadow-lg);
  border-radius: 0.5em;

  &__header {
    grid-area: header;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__main {
    grid-area: page;
  }

  &__footer {
    grid-area: footer;
  }
}

// HEADER > *
.header {
  padding: 2em 3em;
  background-color: var(--bg-second);
  border-block-end: 1px dotted var(--border-base);

  &__title {
    color: var(--text-title);
    font-size: v.$fs-xl;
  }

  &__subtitle {
    color: var(--text-muted);
    font-style: normal;
  }

  &__btn {
    display: none;
  }
}

// SIDEBAR & NAVIGATION
.sidebar {
  font-size: 14px;
  padding: 1em;
  border-inline-end: 1px solid var(--border-base);
  background-color: var(--bg-second);

  &__label {
    padding: 0.25em 0.75em;
    font-weight: 600;
    color: var(--cl-fix-white);
    background-color: var(--text-title);
  }
}

.nav {
  margin-block: 1em;

  &__item {
    margin-inline-start: 1em;
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5em;
    padding: 0.12em;
    color: var(--text-muted);

    &:hover {
      color: var(--text-title);
    }
  }
}

// MAIN
.main {
  padding-block: 2.5em;
}

// FOOTER
.footer {
  padding: 1em;
  background-color: var(--bg-second);
  border-block-start: 1px dotted var(--border-base);

  p {
    font-size: v.$fs-sm;
    color: var(--text-muted);
    text-align: center;
  }
}